.activity{
  display: block;
  padding-top: 0;

 @media screen and (max-width:1199px) {
  display: none;
 }
 
 }

.activity__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}
.activ__thumb {
  position: relative;
  width: 370px;
}

.activ__article {
  position: absolute;
  display: block;
  width: 100%;
  padding: 27px 0;
  bottom: 0;
  color: $third-color;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
