.customers__list {
   display: flex;
   flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   gap: 30px;

   @media  screen and (min-width:1200px){
    flex-wrap: nowrap;
   }
}
  
.customers__item {
  width: 210px;
  height: 92px;

  @media  screen and (min-width:768px) {
    width: 226px;
  }

  @media  screen and (min-width:1200px) {
    width: 170px;
  }
}

.customers__link {
  width: 100%;
  height: 100%;
  display: flex;
  fill: #afb1b8;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms $timing-function, fill 250ms $timing-function;
  &:hover,
  &:focus {
  border-color: $accent-color;
  fill: $accent-color;
}
}