.feature__list {
  display: flex;
}
.feature__item {
  width: 270px;
  &:not(:last-child) {
  margin-right: 30px;
}
}
.icon__container{
  @include centeredFlex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 10px;
}

.feature__article {
  line-height: 1.71;
  color: $second-color;
  
}