.team {
  background-color: #f5f4fa;
  
}
.team__list {
  
  text-align: center;
}

.team__item {
  
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child){  
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 270px;
  &:not(:last-child){
    margin-right: 30px;
  }
  }
}
.team__box {
  padding: 24px  0;
@media screen and (min-width: 1200px) {
  padding: 30px 0;
}
}
.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;

  color: $primary-color;
}

.team__position {
  color: $second-color;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-bottom: 16px;
}

.soc__list {
   display: flex;
  align-items: center;
  justify-content: center;
}

.soc__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
  margin-right: 10px;
}
}
.soc__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $third-color;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  background-color: $third-color;
  transition: color 250ms $timing-function, background-color 250ms $timing-function;
  &:hover,
  &:focus {
  color: $third-color;
  background-color: $accent-color;
}
}
.soc__icon {
  fill: currentColor;
}